<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"> </script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />


     <meta charset="utf-8" />
    <title></title>
    
</head>
<body ng-app="myApp">
    <div  ng-controller="customersCtrl">

        <table class="table table-striped table-responsive">
            <tr>
                <th>Id</th>
                <th>BookName</th>
                <th>Author</th>
                <th>Price</th>
               
                <th></th>
            </tr>
            <tr ng-repeat="book in myData">
                <td>{{book.id}}</td>
                <td>{{book.BookName}}</td>
                <td>{{book.AuthorName}}</td>
                <td>{{book.Price}}</td>
                
                <th> <input type="submit"      ng-click="Delete(book.id)" value="Delete" /></th>
            </tr>
        </table>

    </div>
    <div  ng-controller="createCtrl">
        <form >
            

                <p>Book Name: <input type="text" name="authorname" ng-model="authorname" required /></p>
                <p>Author Name: <input type="text" name="bookname" ng-model="bookname" required /></p>
                <p>Price : <input type="number" name="price" ng-model="price" required /></p>
                <input type="submit" ng-click="Save()" value="Submit" />
                <hr />

</form>
    </div>
    <script>

        var app = angular.module('myApp', []);
        app.controller('customersCtrl', function ($scope, $http) {

            $http.get("/books").then(function (response) {
                $scope.myData = response.data.Books;
            });

            $scope.Delete = function (book) {

                if (confirm('Are you sure you want to delete this?')) {
                    // TODO:  Do something here if the answer is "Ok".

                    $http.delete('books/' + book);
                    alert('datele au fost sterse cu succes');
                    $window.location.reload();
                  
                }


            };





        });


        app.controller('createCtrl', function ($scope, $http) {

            $scope.Save = function () {
                
                var data = {
                    bookname: $scope.bookname,
                    authorname: $scope.authorname,
                    price: $scope.price
                };



                $http.post('/books', data)
                                .success(function (data) {
                                    console.log(data);
                                    alert('datele au fost salvate cu succes!');

                                })

            };

        });
       
      
      

    </script>
    




</body>
</html>